.list-abil__title {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
}

@media (max-width:1247px) {
    .list-abil__title {
        width: 210px;
    }
}

@media (max-width:520px) {
    .list-abil__title {
        width: 225px;
        margin: 0;
    }
}