.questions__title {
    font-family: 'TT Norms';
    font-style: normal;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    width: 329px;
    max-width: 90%  ;
    margin: 0 0 25px 0;
    color: #000000;
}

@media (max-width:1247px) {
    .questions__title{
        margin: 0 auto 25px;
        width: 522px;
    }
}