.price__title {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 40px;
    letter-spacing: -0.015em;
    color: #000000;
    text-align: center;
    margin: 0 0 50px 0;
}

@media (max-width:720px) {
    .price__title {
        font-size: 30px;
        margin: 0 0 35px 0;
    }
}