.container-text__subtitle {
    margin: 25px 0 0 0;
    width: 460px;
    height: 48px;
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
}

@media (max-width:1247px) {
    .container-text__subtitle {
        text-align: center;
        margin: 25px auto 0;
    }
}


@media (max-width: 520px) {
    .container-text__subtitle {
        width: 340px;
        height: 66px;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        text-align: left;
    }
}

@media (max-width:380px) {
    .container-text__subtitle {
        width: 300px;
        font-size: 16px;
    }
}